body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #400044;
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, 
    #03001e 0%,
    #8303a3 30%,
    #4a0638 70%,
    #a4137b 100%);
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: rgba(0, 0, 0, 0.816);
    text-shadow: 2px 2px 4px rgba(4, 255, 0, 0.196);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: greenyellow;
    background-color: #000000;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: greenyellow;
    background-color: black;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image:url(/src/image/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border: 1px greenyellow solid;

}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxMatch::after{

}

.boxOpen::after{
    transform: rotateY(180deg);
}